* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    padding: 22px 0;
    align-items: center;
    height: 10px;
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.logo {
    width: 180px;
    height: 100px;
    margin: -10px;
    display: block;
}

.logo-mobile {
    display: none;
}

.search-container {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 6px;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    color: #089E3B;
    border: 2px solid #089E3B;
    border-radius: 16px;
    width: 400px;
}


#search-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
}

.search-button svg {
    fill: #3B3C36;
}

#search-button img {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
}

nav ul {
    display: flex;
    list-style: none;
    width: 22%;
    color: black;
    justify-content: space-evenly;
    font-size: 12px;
    font-family: Plus Jakarta Sans;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    cursor: default;
}

li a:hover {
    color: #089E3B;
    transition: 0.2s ease-in-out;
}

.suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    z-index: 1000;
    width: 200px;
}
.suggestion-item {
    padding: 10px;
    cursor: pointer;
}
.suggestion-item:hover {
    background-color: #f0f0f0;
}

@media (max-width: 600px) {
    .body{
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        padding: 0 0px;
        width: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .container{
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        padding: 0 0px;
        width: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .nav {
        display: flex;
        justify-content: space-around;
        width: 600px;
        margin-top: 0px;
        margin-left: -20px;
    }
    
    .logo {
        display: none;
    }

    .logo-mobile {
        display: block;
        width: 24px;
        height: auto;
        margin-top: -2px;
        margin-left: -30px;
    }

    .search-container {
        display: flex;
        position: relative;
        right: 110px;
    }
    
    #search-input {
        padding: 6px;
        font-family: Plus Jakarta Sans;
        font-size: 14px;
        color: #089E3B;
        border: 2px solid #089E3B;
        border-radius: 16px;
        width: 190px;
    }
    
    
    #search-button {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin-left: 5px;
    }
    
    .search-container {
        margin-left: -10px;
        width: 60%;
        flex-direction: row;
        align-items: center;
    }

    .searchTerm {
        width: 100%;
        margin-bottom: 10px;
    }

    nav ul {
        display: none;
        list-style: none;
        width: 22%;
        color: black;
        justify-content: space-evenly;
        font-size: 12px;
        font-family: Plus Jakarta Sans;
    }
    
    nav ul li a {
        text-decoration: none;
        font-size: 16px;
        color: rgb(0, 0, 0);
        cursor: default;
    }
}

.dark {
    height: 40px;
    width: 40px;
    margin-top: 0px;
    margin-left: 8px;
    padding: 0px;
    border-radius: 100%;
    background-color: #089E3B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
  }
  
  .dark svg{
    fill: white;
  }
  
  .dark svg:last-child{
    display: none;
  }
  
  .dark-mode .dark svg:first-child{
    display: none;
  }
  
  .dark-mode .dark svg:last-child{
    display: block;
  }

  .dark-mode .search-button svg {
    fill: white;
  }

  .dark-mode .logo {
    width: 92px;
    height: 25px;
    margin: 34px;
    margin-bottom: 37px;
}

body.dark-mode .search-container {
    color: white;
    transition: background-color 0.8s, color 0.8s;
}

body.dark-mode {
    background-color: #021923;
    color: black;
    transition: background-color 0.8s, color 0.8s;
}

body.dark-mode .nav {
    background-color: #021923;
    color: white;
    transition: background-color 0.8s, color 0.8s;
}

body.dark-mode .nav a {
    color: white;
    transition: background-color 0.8s, color 0.8s;
}

body .nav li a:hover {
    color: #089E3B;
    transition: 0.2s ease-in-out;
}

body.dark-mode .content-home p {
    color: white;
    transition: background-color 0.8s, color 0.8s;
}

body.dark-mode .slider p {
    color: white;
    transition: background-color 0.8s, color 0.8s;
}

body.dark-mode .card:hover::after {
    background: linear-gradient(to top, rgba(2, 25, 35, 1), transparent);
}

body.dark-mode .ads-section {
    background-color: #021923;
    color: white;
    transition: background-color 0.8s, color 0.8s;
}

body.dark-mode .fitur {
    background-color: #021923;
    color: white;
    transition: background-color 0.8s, color 0.8s;
}

body.dark-mode .fitur h2 {
    color: white;
    transition: background-color 0.8s, color 0.8s;
}

body.dark-mode .ads-section .btn-ads:hover {
    background-color: #089E3B;
    color: white;
    transition: background-color 0.8s, color 0.8s;
}

@media (max-width: 600px) {

    .content-home {
        padding: 100px 20px;
        background-image: url(images/BG\ HOME\ 2.png);
        background-size: cover;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .content-home h1 {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        font-family: Plus Jakarta Sans;
        color: #089E3B;
        margin-top: 30px;
        margin-bottom: 10px;
    }

}

    .content-home {
    padding: 100px 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

    .welcome {
    background-size: cover;
    justify-content: start;
    align-items: start;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 100vh;
}


    .welcome h1 {
    text-align: start;
    font-size: 36px;
    font-weight: 700;
    font-family: Plus Jakarta Sans;
    color: #089E3B;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .welcome p {
    text-align: start;
    font-size: 18px;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    color: #9a9999;
    margin-bottom: 20px;    
}

    .btn-home {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

    .btn-home1 {
    text-align: center;
    background-color: #00a651;
    font-family: Plus Jakarta Sans;
    font-size: 10px;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

    .btn-home2 {
    text-align: center;
    background-color: white;
    outline: #00a651 solid 2px;
    font-family: Plus Jakarta Sans;
    font-size: 10px;
    font-weight: 600;
    color: #00a651;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 60px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.conover {
    position: absolute;
    top: 25vh;
    left: 0;
    height: 50%;
    width: 30%;
    background-color: none;
}

.conover p {
    position: absolute;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    text-align: center;
    color: #9a9999;
    opacity: 0.6;
    top: 5vh;
    left: 28vh;
    height: 50%;
    width: 30%;
    background-color: none;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: none;
    overflow: hidden;
    width: 0;
    height: 150%;
    transition: .5s ease;

}

.conover:hover .overlay {
    width: 150%;
}

.dinoover {
    white-space: nowrap;
    color: black;
    font-size: 20px;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    scale: 1.7;
    transform: rotate(5deg) translate(-65%, -9%);
    -ms-transform: translate(-50%, -50%);
}

.scrolltext {
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 20px;
    opacity: 0.6;
    text-align: center;
    color: #9a9999;
    background-color: none;
    transform: translateY(30px);
}

.scrolltext img{
    transform: scale(1.2);
    opacity: 0.5;
}

.slider {
    position: relative;
    margin-top: 120px;
    width: 1200px; /* 300px per card * 3 cards */
    overflow: hidden;
    margin-left: 40px;
    text-decoration: none;
}

.slider p {
    font-family: Plus Jakarta Sans;
    color: black;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 0px;
    margin-left: 10px;
    text-decoration: none;
}

.slider a {
    text-decoration: none; /* Remove underline */
}

.slider h3 {
    text-align: end;
    transform: translateY(-100%);
    font-family: Plus Jakarta Sans;
    color: #089E3B;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0px;
    cursor: pointer;
    text-decoration: none;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease;
    text-decoration: none;
}

.card {
    min-width: 300px; /* Width of each card */
    height: 400px; /* Height of each card */
    background-color: #f1f1f1;
    margin: 0 5px;
    position: relative; /* Position relative for absolute positioning of headline */
    overflow: hidden; /* Hide overflow */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    flex-direction: column;
    border-radius: 20px;
    cursor: default;
}

.card::after {
    content: ""; /* Required for pseudo-element */
    position: absolute;
    bottom: 0; /* Align to the bottom of the card */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    height: 80%; /* Full height for smooth transition */
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); /* Start with a fully transparent gradient */
    z-index: 1; /* Ensure the gradient is above the image */
    transition: background 0.5s ease, opacity 0.5s ease; /* Smooth transition for gradient change */
    opacity: 0; /* Start with opacity 0 */
}

.card:hover::after {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent); /* Gradient appears on hover */
    opacity: 1; /* Fade in the gradient */
}

.card-image {
    width: 100%; /* Make image fill the card */
    height: 100%; /* Make image fill the card */
    object-fit: cover; /* Cover the card without distortion */
    flex-grow: 1; /* Allow the image to grow and fill available space */
}

.headline-bab {
    position: absolute; /* Position headline over the image */
    bottom: 100px; /* Align to the bottom of the card */
    left: 15px; /* Align to the left*/
    color: white; /* Text color */
    padding: 5px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners for the headline */
    z-index: 2; /* Ensure the headline is above the image */
    font-family:  Plus Jakarta Sans;
    font-size: 20px;
}

.subheadline {
    position: absolute; /* Position subheadlines over the image */
    bottom: 60px; /* Position below the main headline */
    left: 15px; /* Align to the left */
    color: white; /* Text color */
    text-align: left; /* Align text to the left */
    z-index: 2; /* Ensure the subheadline is above the gradient */
    font-family: Plus Jakarta Sans;
    font-size: 32px; /* Increase font size for the subheadline */
}

.subheadline-2 {
    position: absolute; /* Position subheadlines over the image */
    bottom: 60px; /* Position below the main headline */
    left: 15px; /* Align to the left */
    color: white; /* Text color */
    text-align: left; /* Align text to the left */
    z-index: 2; /* Ensure the subheadline is above the gradient */
    font-family: Plus Jakarta Sans;
    font-size: 30px; /* Increase font size for the subheadline */
}

.subheadline-3 {
    position: absolute; /* Position subheadlines over the image */
    bottom: 65px; /* Position below the main headline */
    left: 15px; /* Align to the left */
    color: white; /* Text color */
    text-align: left; /* Align text to the left */
    z-index: 2; /* Ensure the subheadline is above the gradient */
    font-family: Plus Jakarta Sans;
    font-size: 25.2px; /* Increase font size for the subheadline */
}

.buku-head {
    position: absolute; /* Position subheadlines over the image */
    bottom: 40px; /* Position below the main headline */
    left: 20px; /* Align to the left */
    color: white; /* Text color */
    text-align: left; /* Align text to the left */
    z-index: 2; /* Ensure the subheadline is above the gradient */
    font-family: Plus Jakarta Sans;
    font-size: 12px; /* Increase font size for the subheadline */
}

button .prevbtn .nextbtn .resetbtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition for hover effect */
}

button:hover {
    background-color: #00a651; /* Change background on hover */
    color: white;
    border: none;
}


.prevbtn {
    left: 10px;
    padding: 12px 20px; /* Increased padding for larger buttons */
    border-radius: 40px; /* Make the button more rounded */
    font-size: 18px; /* Increased font size */
    color: black;
    background-color: white;
    border: none;
    margin-top: 10px;
}

.nextbtn {
    right: 10px;
    padding: 12px 20px; /* Increased padding for larger buttons */
    border-radius: 40px; /* Make the button more rounded */
    font-size: 18px; /* Increased font size */
    color: black;
    background-color: white;
    border: none;
    margin-top: 10px;
}

.resetbtn {
    position: absolute;
    bottom: 0px; /* Position the reset button at the bottom */
    right: 10px; /* Align it to the right */
    padding: 12px 16px; /* Increased padding for larger buttons */
    border-radius: 40px; /* Make the button more rounded */
    font-size: 20px; /* Increased font size */
    color: black;
    background-color: white;
    border: none;
    margin-top: 10px;
}

.ads-section {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Space between the slider and the additional content */
    padding: 40px; /* Padding inside the additional content */
    background-color: #24ae67; /* Light background color */
    border-radius: 5px; /* Rounded corners */
    text-align: start; /* Center the text */
}

.ads-text h2 {
    flex: 1;
    font-size: 40px; /* Font size for the heading */
    margin-top: 0px;
    margin-bottom: 20px; /* Space below the heading */
    margin-left: 80px;
    font-family: Plus Jakarta Sans;
    color: white;
}

.ads-text h3 {
    flex: 1;
    font-size: 20px; /* Font size for the heading */
    margin-top: 20px;
    margin-bottom: 30px; /* Space below the heading */
    margin-left: 80px;
    font-family: Plus Jakarta Sans;
    color: white;
}

.ads-card {
    min-width: 200px; /* Width of each card */
    height: 400px; /* Height of each card */
    background-color: #f1f1f1;
    border: 0px solid #ccc;
    margin-top: 0px;
    margin-left: 40px;
    position: relative; /* Position relative for absolute positioning of headline */
    overflow: hidden; /* Hide overflow */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    flex-direction: column;
    border-radius: 30px;
}

.ads-image {
    width: 100%; /* Make image fill the card */
    height: 100%; /* Make image fill the card */
    object-fit: cover; /* Cover the card without distortion */
    flex-grow: 1; /* Allow the image to grow and fill available space */
    transition: opacity 0.5s ease;
}

.ads-section .btn-ads {
    background-color: #ffffff;
    font-family: Plus Jakarta Sans;
    font-size: 10px;
    font-weight: 600;
    color: #00a651;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    margin-left: 80px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s; /* Add transition for hover effect */
}

.fitur {
    position: relative;
    margin-top: 50px; /* Space between the slider and the additional content */
    padding: 20px; /* Padding inside the additional content */
    background-color: #ffffff; /* Light background color */
    border: 0px solid #ddd; /* Light border */
    border-radius: 5px; /* Rounded corners */
    text-align: start; /* Center the text */
}

.fitur h2 {
    text-align: start;
    font-size: 46px; /* Font size for the heading */
    margin-top: 0px;
    margin-bottom: 20px; /* Space below the heading */
    margin-left: 100px;
    font-family: Plus Jakarta Sans;
    color: #00a651;
}

.slider-fitur {
    position: relative;
    margin-top: 20px;
    margin-left: 40px;
    width: 1200px; /* 300px per card * 3 cards */
    overflow: hidden;
    text-decoration: none;
}

.slider-container2 {
    display: flex;
    transition: transform 0.5s ease;
    text-decoration: none;
    padding: 10px;
}

.card2 {
    min-width: 550px; /* Width of each card */
    height: 380px; /* Height of each card */
    background-color: #f1f1f1;
    margin: 0 20px;
    position: relative; /* Position relative for absolute positioning of headline */
    overflow: hidden; /* Hide overflow */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    flex-direction: column;
    border-radius: 20px;
    cursor: default;
    transition: all 0.3s ease; box-shadow 0.3s ease;
}

.card-image2 {
    width: 110%; /* Make image fill the card */
    height: 110%; /* Make image fill the card */
    object-fit: cover; /* Cover the card without distortion */
    flex-grow: 1; /* Allow the image to grow and fill available space */
}

.card2:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }
  
.headline-bab2 {
    position: absolute; /* Position headline over the image */
    top: 20px; /* Align to the bottom of the card */
    left: 30px; /* Align to the left*/
    color: white; /* Text color */
    padding: 5px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners for the headline */
    z-index: 2; /* Ensure the headline is above the image */
    font-family:  Plus Jakarta Sans;
    font-size: 36px;
}

.subheadline2 {
    position: absolute; /* Position subheadlines over the image */
    bottom: 60px; /* Position below the main headline */
    left: 15px; /* Align to the left */
    color: #00a651; /* Text color */
    text-align: left; /* Align text to the left */
    z-index: 2; /* Ensure the subheadline is above the gradient */
    font-family: Plus Jakarta Sans;
    font-size: 32px; /* Increase font size for the subheadline */
}

.buku-head2 {
    position: absolute; /* Position subheadlines over the image */
    bottom: 40px; /* Position below the main headline */
    left: 20px; /* Align to the left */
    color: #00a651; /* Text color */
    text-align: left; /* Align text to the left */
    z-index: 2; /* Ensure the subheadline is above the gradient */
    font-family: Plus Jakarta Sans;
    font-size: 12px; /* Increase font size for the subheadline */
}

button .prevbtn2 .nextbtn2 .resetbtn2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition for hover effect */
}

button:hover {
    background-color: #00a651; /* Change background on hover */
    color: white;
    border: none;
}


.prevbtn2 {
    left: 10px;
    padding: 12px 20px; /* Increased padding for larger buttons */
    border-radius: 40px; /* Make the button more rounded */
    font-size: 18px; /* Increased font size */
    color: black;
    background-color: white;
    border: none;
    margin-top: 10px;
}

.nextbtn2 {
    right: 10px;
    padding: 12px 20px; /* Increased padding for larger buttons */
    border-radius: 40px; /* Make the button more rounded */
    font-size: 18px; /* Increased font size */
    color: black;
    background-color: white;
    border: none;
    margin-top: 10px;
}

.resetbtn2 {
    position: absolute;
    bottom: 0px; /* Position the reset button at the bottom */
    right: 10px; /* Align it to the right */
    padding: 12px 16px; /* Increased padding for larger buttons */
    border-radius: 40px; /* Make the button more rounded */
    font-size: 20px; /* Increased font size */
    color: black;
    background-color: white;
    border: none;
    margin-top: 10px;
}

.slider-footer {
    position: relative;
    margin-top: 20px;
    margin-left: 40px;
    width: 1200px; /* 300px per card * 3 cards */
    overflow: hidden;
    text-decoration: none;
}

.slider-container3 {
    display: flex;
    transition: transform 0.5s ease;
    text-decoration: none;
    padding: 10px;
}

.card3 {
    min-width: 350px; /* Width of each card */
    height: 200px; /* Height of each card */
    background-color: #f1f1f1;
    margin: 0 20px 0px ;
    position: relative; /* Position relative for absolute positioning of headline */
    overflow: hidden; /* Hide overflow */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    flex-direction: column;
    border-radius: 20px;
    cursor: default;
    transition: all 0.3s ease; box-shadow 0.3s ease;
}

.card-image3 {
    width: 100%; /* Make image fill the card */
    height: 100%; /* Make image fill the card */
    object-fit: cover; /* Cover the card without distortion */
    flex-grow: 1; /* Allow the image to grow and fill available space */
}


.card4 {
    min-width: 750px; /* Width of each card */
    height: 200px; /* Height of each card */
    background-color: #24ae67;
    margin: 0 0px;
    position: relative; /* Position relative for absolute positioning of headline */
    overflow: hidden; /* Hide overflow */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    flex-direction: column;
    border-radius: 20px;
    cursor: default;
    transition: all 0.3s ease; box-shadow 0.3s ease;
}

footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #24ae67;
    color: white;
    text-align: center;
    padding: 40px 0;
    position: relative;
    margin-top: 80px;
    width: 100%;
}

.footer-content {
    display: flex;
    overflow: visible;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-img {
    overflow: hidden;
    position: absolute;
    left: 0px;
    bottom: 0px;
    flex-direction: row;
    min-width: 400px; /* Width of each card */
    height: auto; /* Height of each card */

}

.footer-img img {
    max-width: 420px; /* Adjust the size as needed */
    height: auto;
    transform: translateY(50px) translateX(-70px);
}

.footer-a a{
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 20px;
    color: white;
    text-decoration: none;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
    align-items: center;
}

.footer-p{
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 14px;
    color: white;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: default;
}

.footer-img2 {
    overflow: hidden;
    position: absolute;
    right: 0px;
    bottom: 0px;
    flex-direction: row;
    min-width: 300px; /* Width of each card */
    height: auto; /* Height of each card */
}

.footer-img2 img {
    opacity: 0.8;
    max-width: 300px; /* Adjust the size as needed */
    height: auto;
    transform: translateY(60px) translateX(50px);
}
